.exptest {
  display: flex;
  flex-direction: row;
}
.test {
  display: flex;
  flex-direction: column;
  border-style: solid;
}
.img {
  width: auto;
  height: auto;
  font-size: 50%;
}

.row.coordonnées {
  display: flex;
}

.row.coordonnées > div {
  flex: 1;
}

