<footer>
	<div class="py-3 my-4">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">Véhicules</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">Contact</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">Témoignages</a>
			</li>

		</ul>
		<footer class="row coordonnées">

			<div class="identity">
				<p>
					Garage Vincent Parrot<br/>
					1 Route de la Garonne<br/>
					31 000 TOULOUSE
				</p>
			</div>
			<div class="horaires">
				<p>
					Horaires d ouverture<br/>
					Lundi au vendredi<br/>
					Matinée : 8h à 12h<br/>
					Apres-midi:14h à 17h<br/>
					Samedi :8h30 à 12h30 et Dimanche fermé
				</p>
			</div>

			<h6 class="text-center text-body-secondary">© 2024 Company, Inc</h6>
		</footer>
